<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="home.css">

</head>
    <body>
        <form method="post">
            <div id="header">Welcome to the Clairvoyant!</div>
            <div class="subheader">Think of a number between 1 and 100 and I will, without a fail, guess it!</div>
            <div class="subheader2">When you have the number, press the button below and let the magic unfold!</div>
            <div class="button">
            <input type="submit" value="Go!">
            </div>
        </form>
    </body>
</html>